{{include 'layout/encabezado.html'}}
    <title>AutismWorld - Registro</title>
    <link rel="stylesheet" href="{{=URL('static','css/ajustes.css')}}">
    <link type="text/css" rel="stylesheet" href="{{=URL('static','lightslider/css/lightslider.css')}}" />
</head> <!-- <head> abre en encabezado.html -->
<body>
    {{include 'layout/navbar.html'}}
    <div class="container main-container">
        <div class="col-12">
            <div id="tituloNinio"><center><h1> Perfil del niño</h1></center></div>
            <br>
            <div class="row">
                <div class="col-6" id="tituloNinio">
                    <form enctype="multipart/form-data" method="post" >
                        <legend> Datos personales niño</legend>
                        <div class="form-group">
                            <label for="name">Nombres: </label>
                            <input class="form-control" type="text" name="nombre" placeholder=""  pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" >
                         </div>
                        <!-- Person last name -->
                        <div class="form-group">
                            <label for="apellido">Apellidos: </label>
                            <input class="form-control" type="text" name="apellido" placeholder="" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[\s-]?[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*)*" >
                        </div>
                        <!-- Fecha de Nacimiento -->
                        <div class="form-group">
                            <label for="fechaDeNacimiento">Fecha de nacimiento: </label>
                            <input class="form-control" type="text" name="fecha" placeholder="dd/mm/aaaa">
                        </div>
                        <!-- Edad -->
                        <div class="form-group">
                          <label for="promedioEntero">Edad:</label>
                          <input class="form-control" type="text" name="edad" placeholder="">
                        </div>
                        <!-- Alergia medicamentos -->
                        <div class="form-group">
                            <label for="direccion">Alergia a medicamentos:</label>
                            <input class="form-control" type="text" name="medicamento_alergia" placeholder="">
                        </div>
                        <!-- Otras enfermedades -->
                        <div class="form-group">
                            <label for="direccion">Otras enfermedades:</label>
                            <input class="form-control" type="text" name="otra_enfermedad" placeholder=""><br>
                        </div>

                        <legend> Datos de interes del Representante</legend>
                        <!-- Direccion -->
                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <input class="form-control" type="text" name="direccion" placeholder="">
                       </div>
                       <!-- Telefono de habitacion -->
                        <div class="form-group">
                            <label for="telefonoHabitacion">Teléfono de contacto: </label>
                            <input class="form-control" type="text"  name="tlf_rep" placeholder="02125555555" maxlength="12" pattern="^((0)[0-9]{3}(-)?)[0-9]{7}$"
                         oninvalid="this.setCustomValidity('Error. El formato para numero de telf es: 02121234567')" oninput="setCustomValidity('')">
                       </div>
                       <!-- Observacion -->
                        <div class="form-group">
                            <label for="telefonoHabitacion">Observacion adicional: </label>
                            <input class="form-control" type="text" name="observacion" placeholder="">
                       </div>
                       <!-- Representante -->
                       <div class="form-group">
                           <input class="form-control" type="text" hidden="" name="representante" placeholder="{{=usuario.first_name}}" value={{=usuario.id}} readonly>
                      </div>
                       <!-- submit -->
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary save" value="Guardar">
                        </div>
                        {{=insertar.custom.end}}
                    </form>
                </div>
                <div class="col-1"></div>
                <div class="col-5" id="tituloNinio">
                    <h1 class="texto"><b>Opciones varias</b></h1>
                    <br>
                    <p class="texto">Utilice esta pagina para completar los datos de su niño.</p>
                    <img style="height: 400px" src="{{=URL('static','images/completar1.png')}}" alt="">
                    <br><br>
                    <a href="{{=URL('default','calendario')}}" class="btn btn-primary" style="font-size: 19px;">Ver Calendario</a>
                    <br><br>
                    <a href="#" class="btn btn-primary" style="font-size: 19px;">Ver Dietas</a>
                    <br><br>
                    <a href="{{=URL('default','estadisticas')}}" class="btn btn-primary" style="font-size: 19px;">Ver Reportes</a>
                    <br><br>
                    <a href="{{=URL('default','cambiarninio')}}" class="btn btn-primary" style="font-size: 19px;">Cambiar datos del ninio</a>
                </div>
            </div>
        </div> <!-- col-md-12 -->
    </div>  <!-- container -->
    {{include 'layout/footer.html'}}
    {{include 'layout/scripts.html'}}
