{{extend 'layout.html'}}
<div class="container-fluid">
  <h1 class="text-center">Cambie los datos de su hijo</h1>
  <form action="" method="post">
    <input class="form-control" name="_formname" type="hidden" value="modificarNinio">
    <div class="form-group">
      <select class="select-style form-control"  name="Identificador" required>
      <option value="">Seleccione uno</option>
      {{for kid in listaNinios:}}
          <option value="{{=kid.id}}" >{{=kid.id}}  -  {{=kid.nombre}} {{kid.apellido}}</option>
      {{pass}}
      </select>
    </div>
    <div class="row">
        <button type="submit" style="margin: 2.5px" class="col-sm btn-lg btn-warning btn-block">Cambiar Datos del Ninio</button>
        <button type="reset" style="margin: 2.5px" class="col-sm btn-lg btn-danger btn-block">Limpiar Campos</button>
    </div>
  </form>
  <br>
  <div class="row">
    <a class="btn-lg btn btn-success col-sm" style="margin: 2.5px" href="{{=URL('default','home')}}"> Home</a>
  </div>
</div>
