{{include 'layout/encabezado.html'}}
    <title>AutismWorld - Home Niños</title>
    <link rel="stylesheet" href="{{=URL('static','css/ajustes.css')}}">
    <link type="text/css" rel="stylesheet" href="{{=URL('static','lightslider/css/lightslider.css')}}" />
</head> <!-- <head> abre en encabezado.html -->
<body>
    {{include 'layout/navbar.html'}}
    <div class="container-fluid">
        <div class="col-12">
            <br><br>
            <div>
                <h1 id="tituloNinio">Actividades</h1>
            </div>
            
            <div class="row" style="justify-content: center">
                <div class="col-2"></div>
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" style="width: 250px;" src="{{=URL('static','images/linguistica.jpg')}}">
                        <h2>Linguisticas</h2>
                    </div>
                </a>
                <div class="col-2"></div>
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" src="{{=URL('static','images/motriz.png')}}">
                        <h2>Motoras</h2>
                    </div>
                </a>
                <div class="col-2"></div>
                
            </div>
            <br><br>
            <div class="row" style="justify-content: center">
                <div class="col-2"></div>
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" style="width: 250px;" src="{{=URL('static','images/vision.jpg')}}">
                        <h2>Visuales</h2>
                    </div>
                </a>
                <div class="col-2"></div>
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" src="{{=URL('static','images/auditivas.jpg')}}">
                        <h2>Auditivas</h2>
                    </div>
                </a>
                <div class="col-2"></div>
        </div> <!-- col-md-12 -->
    </div>  <!-- container -->
    {{include 'layout/footer.html'}}
    {{include 'layout/scripts.html'}}
