{{include 'layout.html'}}
    <title>AutismWorld - Home</title>
    <link rel="stylesheet" href="{{=URL('static','css/ajustes.css')}}">
</head> <!-- <head> abre en encabezado.html -->
<body>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color: #FFF">
<!--       <a class="navbar-brand" href="{{=URL('default', 'home')}}"> -->
<!--         <img class="img-fluid" id="logo" src="{{=URL('static','images/logo.jpg')}}" alt="Logo">
       -->      <!-- </a> -->
     	<text style="font-size: 50px">AutismWorld</text>
    	<img class="img-fluid d-none d-xl-block" id="logoUSB" src="{{=URL('static','images/LogoUSB.png')}}" alt="">
    </nav>
    <div class="container-fluid main-container" id="home">
    	<br><br>
        <div class="row" style="justify-content: center">
            <div class="col-1"></div>
        	<div class="col-6">
    			<center>
    				<h2>Bienvenido a AutismWorld</h2>
    				<b>AutismWorld</b> es una interfaz grafica, donde se evaluan los problemas de los ninios con <b>Autismo(TAC)</b>. Para esto, se enfoca en atender las practicas y los problemas actuales que enfrentan estos ninios en sus diferentes modalidades (Linguistica, Alimenticia, Motoras, Neuronales y Sensoriales)
    			</center>
        	</div>

            <div class="col-1"></div>
            <div class="col-1"></div>
        </div>
    </div>
    <div>
        <a class="btn btn-danger"  href="{{=URL('default','login')}}"">Login</a>
        <a class="btn btn-primary"  href="{{=URL('default','registro')}}"">Registrarse</a>
    </div>
</body>
</html>
