{{include 'layout/encabezado.html'}}
    <title>AutismWorld - Home Niños</title>
    <link rel="stylesheet" href="{{=URL('static','css/ajustes.css')}}">
    <link type="text/css" rel="stylesheet" href="{{=URL('static','lightslider/css/lightslider.css')}}" />
</head> <!-- <head> abre en encabezado.html -->
<body>
    {{include 'layout/navbar.html'}}
    <div class="container-fluid">
        <div class="col-12">
        	<br>
            <center><h1>Bienvenido Cuidador</h1></center>
            <br>
            <div>
                <h1 id="tituloNinio">Opciones</h1>
            </div>
            <br>
            <div>
                <h1 id="tituloNinio">Mostrar</h1>
            </div>
            <div class="row" style="justify-content: center">
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/estadisticas.png')}}">
                        <h2>Reportes</h2>
                    </div>
                </a>
                <a href="#" id="tituloNinio" class="col-3 offset-1">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/dieta.png')}}">
                        <h2>Dieta</h2>
                    </div>
                </a>              
                <a href="#" id="tituloNinio" class="col-3 offset-1">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/calendario.jpg')}}">
                        <h2>Calendario</h2>
                    </div>
                </a>                    
            </div>
            <br>
            <div>
                <h1 id="tituloNinio">Modificar</h1>
            </div>
            <br>
            <div class="row" style="justify-content: center">
                <a href="#" id="tituloNinio" class="col-3">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/calendario.jpg')}}">
                        <h2>Calendario</h2>
                    </div>
                </a>
                <a href="#" id="tituloNinio" class="col-3 offset-1">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/dieta.png')}}">
                        <h2>Dieta</h2>
                    </div>
                </a>
                <a href="#" id="tituloNinio" class="col-3 offset-1">
                    <div>
                        <img class="imgAct" style="width: 300px;" src="{{=URL('static','images/estadisticas.png')}}">
                        <h2>Reportes</h2>
                    </div>
                </a>
            </div>
        </div> <!-- col-md-12 -->
    </div>  <!-- container -->
    {{include 'layout/footer.html'}}
    {{include 'layout/scripts.html'}}
