{{include 'layout/encabezado.html'}}
    <title>AutismWorld - Registro</title>
    <link rel="stylesheet" href="{{=URL('static','css/ajustes.css')}}">
    <link type="text/css" rel="stylesheet" href="{{=URL('static','lightslider/css/lightslider.css')}}" />
</head> <!-- <head> abre en encabezado.html -->
<body>
    {{include 'layout/navbar.html'}}
    <div class="container-fluid main-container">
        <div class="col-12">
			<div class="row justify-content-center">
				<div class="col-5">
					<br><br><br><br>
					<center><p class="texto">Ingrese sus datos para registrarse en el sistema y disfrutar de todos nuestros servicios y productos.</p>
					<img src="{{=URL('static','images/registro.jpeg')}}" alt=""></center>					
				</div>
				<div class="offset-2 col-4">
					<br>
					<br>
					<br>
					<br>
				{{if auth.is_logged_in():}}
					<h2>Usted ya se encuentra en una sesion activa</h2><br>
					<a href="{{=URL('default', 'user', args='logout')}}"><button class="btn btn-primary">Cerrar sesion</button></a>
				{{else:}}
					<form enctype="multipart/form-data" method="post" >
						<h2>Registrarse</h2> <br>
						<div class="form-group">
							<label for="first_name" class="form-control-label">Nombre</label>
							<div class="input-group">
								<input class="form-control" type="text" id="first_name" name="first_name" placeholder="Ej: Jefferson" required="">
							</div>
						</div>
						<div class="form-group">
							<label for="last_name" class="form-control-label">Apellido</label>
							<div class="input-group">
								<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Ej: Gutierritos" required="">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="form-control-label">Contraseña</label>
							<div class="input-group">
								<input class="form-control" type="password" id="password" name="password" placeholder="" required="">
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="form-control-label">Correo</label>
							<div class="input-group">
								<input class="form-control" type="text" id="email" name="email" placeholder="jefferson@gutierritos.com" required="">
							</div>
						</div>
						<div class="form-group">
              				<br>
							<button class="btn btn-primary save" type="submit">Registrarse</button> <br> <br>
							<a href="{{=URL('default', 'login')}}">¿Ya se encuentra registrado? Loguearse</a>
						{{=registro.custom.end}}
					  	</div>
						<div class="form-group">
						</div>
					</form>
				{{ pass }}
				</div>
			</div>
        </div> <!-- col-md-12 -->
    </div>  <!-- container -->
    {{include 'layout/footer.html'}}
    {{include 'layout/scripts.html'}}